In [2]:
# import libraries
import pandas as pd
from pathlib import Path
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

In [3]:
# import the raw csv data from first csv
csv1 = Path("clean_data/employ_inc_pop_clean.csv")
df1 = pd.read_csv(csv1)
df1.head()

   GeoFips          MSA  Year  Population  Personal Income  Number Jobs
0    10180  Abilene, TX  2000      160288          3675392        91027
1    10180  Abilene, TX  2001      158917          3753367        89511
2    10180  Abilene, TX  2002      159012          3905004        90338
3    10180  Abilene, TX  2003      158810          4137066        91132
4    10180  Abilene, TX  2004      160156          4325061        91998

In [4]:
# import the raw csv data from second csv
csv2 = Path("clean_data/HPI_clean.csv")
df2 = pd.read_csv(csv2)
df2.head()

                           MSA  Year         HPI
0                  Abilene, TX  2000   99.847500
1                    Akron, OH  2000   99.735833
2                   Albany, GA  2000   99.650000
3                   Albany, OR  2000  100.833333
4  Albany-Schenectady-Troy, NY  2000   98.339167

In [5]:
# merge datasets
result = df1.merge(df2, on=['MSA','Year'], how='inner')

In [6]:
result.tail()

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs,HPI
6835,49740,"Yuma, AZ",2015,205186,6435455,85800,136.486667
6836,49740,"Yuma, AZ",2016,207247,6741154,88674,141.590833
6837,49740,"Yuma, AZ",2017,209507,7116699,88293,149.025833
6838,49740,"Yuma, AZ",2018,211612,7408956,89875,155.399167
6839,49740,"Yuma, AZ",2019,213787,7818246,91296,163.309167

In [7]:
# create a dataframe to show most recent year and filter out largest 20 MSAs
df2019 = result.loc[result['Year'] == 2019]
df2019 = df2019.nlargest(20, 'Population')

In [8]:
df2019.head()

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs,HPI
4559,35620,"New York-Newark-Jersey City, NY-NJ-PA",2019,19216182,1534294144,13142753,188.885833
3879,31080,"Los Angeles-Long Beach-Anaheim, CA",2019,13214799,881215471,9027619,273.343333
1219,16980,"Chicago-Naperville-Elgin, IL-IN-WI",2019,9458539,600616821,6216332,140.527500
1579,19100,"Dallas-Fort Worth-Arlington, TX",2019,7573136,444730277,5226844,205.558333
2879,26420,"Houston-The Woodlands-Sugar Land, TX",2019,7066141,416121512,4401003,203.742500

In [9]:
MSAs = df2019['MSA']
MSAs

4559           New York-Newark-Jersey City, NY-NJ-PA
3879              Los Angeles-Long Beach-Anaheim, CA
1219              Chicago-Naperville-Elgin, IL-IN-WI
1579                 Dallas-Fort Worth-Arlington, TX
2879            Houston-The Woodlands-Sugar Land, TX
6499    Washington-Arlington-Alexandria, DC-VA-MD-WV
4919     Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
739                   Boston-Cambridge-Newton, MA-NH
5279            Riverside-San Bernardino-Ontario, CA
1779                     Detroit-Warren-Dearborn, MI
5739                     Seattle-Tacoma-Bellevue, WA
4199         Minneapolis-St. Paul-Bloomington, MN-WI
6119             Tampa-St. Petersburg-Clearwater, FL
1739                      Denver-Aurora-Lakewood, CO
5499                                St. Louis, MO-IL
399                    Baltimore-Columbia-Towson, MD
1139               Charlotte-Concord-Gastonia, NC-SC
4739                   Orlando-Kissimmee-Sanford, FL
5619                   San Antonio-New Braunfels, TX
5039             Portland-Vancouver-Hillsboro, OR-WA
Name: MSA, dtype: object

In [10]:
# merge all data with top 20 MSAs to get final data on only the top 20 MSAs
result1 = result.merge(MSAs, on="MSA", how='inner')
result1.head()

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs,HPI
0,12580,"Baltimore-Columbia-Towson, MD",2000,2557958,88618199,1543762,97.520000
1,12580,"Baltimore-Columbia-Towson, MD",2001,2575471,92560218,1547690,105.058333
2,12580,"Baltimore-Columbia-Towson, MD",2002,2596501,96206347,1558796,116.961667
3,12580,"Baltimore-Columbia-Towson, MD",2003,2614232,100100963,1566963,134.725833
4,12580,"Baltimore-Columbia-Towson, MD",2004,2630946,106048601,1593882,158.941667

In [11]:
result1.to_csv('clean_data/all_clean.csv', index=False, header=True)

In [18]:
# bring in full HPI dataset from 1975 to 2020
csv3 = Path('clean_data/HPI_yearly_full.csv')
df3 = pd.read_csv(csv3)
df3.head()

                           MSA  Year        HPI
0                  Abilene, TX  1975  46.904167
1                    Akron, OH  1975  30.110833
2                   Albany, GA  1975  41.338333
3                   Albany, OR  1975  22.504167
4  Albany-Schenectady-Troy, NY  1975  35.212500

In [19]:
# merge top 20 MSAs with full HPI data to get HPI data for only top 20 MSAs
top20_yearly = df3.merge(MSAs, on="MSA", how='inner')

In [20]:
top20_yearly.head()

                             MSA  Year        HPI
0  Baltimore-Columbia-Towson, MD  1975  27.319167
1  Baltimore-Columbia-Towson, MD  1976  29.631667
2  Baltimore-Columbia-Towson, MD  1977  32.359167
3  Baltimore-Columbia-Towson, MD  1978  35.471667
4  Baltimore-Columbia-Towson, MD  1979  39.037500

In [22]:
# bring in all data for jobs income and population from 1969 to 2019
csv4 = Path("clean_data/employ_inc_pop_clean_full.csv")
df4 = pd.read_csv(csv4)
df4.head()

   GeoFips          MSA  Year  Population  Personal Income  Number Jobs
0    10180  Abilene, TX  1969      125138           397478        56041
1    10180  Abilene, TX  1970      122505           445225        56215
2    10180  Abilene, TX  1971      124841           476061        56614
3    10180  Abilene, TX  1972      128517           541293        59092
4    10180  Abilene, TX  1973      127533           581519        60359

In [23]:
# merge top 20 MSAs with full jobs, income, and population data to get data for only top 20 MSAs
top20_PIJ = df4.merge(MSAs, on="MSA", how="inner")

In [27]:
top20_PIJ.head(15)

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs
0,12580,"Baltimore-Columbia-Towson, MD",1969,2072804,8660693,991148
1,12580,"Baltimore-Columbia-Towson, MD",1970,2094838,9420898,991821
2,12580,"Baltimore-Columbia-Towson, MD",1971,2132113,10314326,994410
3,12580,"Baltimore-Columbia-Towson, MD",1972,2152232,11336168,1011325
4,12580,"Baltimore-Columbia-Towson, MD",1973,2167899,12535270,1041876
5,12580,"Baltimore-Columbia-Towson, MD",1974,2179392,13835894,1056134
6,12580,"Baltimore-Columbia-Towson, MD",1975,2184332,14987764,1038096
7,12580,"Baltimore-Columbia-Towson, MD",1976,2188964,16344005,1040323
8,12580,"Baltimore-Columbia-Towson, MD",1977,2201877,17827450,1068371
9,12580,"Baltimore-Columbia-Towson, MD",1978,2204362,19889912,1108082
10,12580,"Baltimore-Columbia-Towson, MD",1979,2209160,21951910,1139209
11,12580,"Baltimore-Columbia-Towson, MD",1980,2203385,24628751,1139485
12,12580,"Baltimore-Columbia-Towson, MD",1981,2214413,27264037,1146005
13,12580,"Baltimore-Columbia-Towson, MD",1982,2220748,29340768,1137050
14,12580,"Baltimore-Columbia-Towson, MD",1983,2228439,31328742,1164025

In [25]:
# merge HPI data with population, income, and jobs for top 20 MSAs
top20_full = top20_PIJ.merge(top20_yearly, on=['MSA','Year'], how='inner')

In [26]:
top20_full

,GeoFips,MSA,Year,Population,Personal Income,Number Jobs,HPI
0,12580,"Baltimore-Columbia-Towson, MD",1975,2184332,14987764,1038096,27.319167
1,12580,"Baltimore-Columbia-Towson, MD",1976,2188964,16344005,1040323,29.631667
2,12580,"Baltimore-Columbia-Towson, MD",1977,2201877,17827450,1068371,32.359167
3,12580,"Baltimore-Columbia-Towson, MD",1978,2204362,19889912,1108082,35.471667
4,12580,"Baltimore-Columbia-Towson, MD",1979,2209160,21951910,1139209,39.037500
5,12580,"Baltimore-Columbia-Towson, MD",1980,2203385,24628751,1139485,42.396667
6,12580,"Baltimore-Columbia-Towson, MD",1981,2214413,27264037,1146005,46.295833
7,12580,"Baltimore-Columbia-Towson, MD",1982,2220748,29340768,1137050,47.218333
8,12580,"Baltimore-Columbia-Towson, MD",1983,2228439,31328742,1164025,48.172500
9,12580,"Baltimore-Columbia-Towson, MD",1984,2244735,34416475,1202935,50.990833
10,12580,"Baltimore-Columbia-Towson, MD",1985,2255970,37069457,1243523,53.810833
11,12580,"Baltimore-Columbia-Towson, MD",1986,2285633,39775035,1276452,58.530833
12,12580,"Baltimore-Columbia-Towson, MD",1987,2309719,42482919,1332191,65.566667
13,12580,"Baltimore-Columbia-Towson, MD",1988,2340870,46438466,1366737,72.252500
14,12580,"Baltimore-Columbia-Towson, MD",1989,2360610,49698479,1393176,77.875000
15,12580,"Baltimore-Columbia-Towson, MD",1990,2390543,52649611,1404128,81.229167
16,12580,"Baltimore-Columbia-Towson, MD",1991,2418136,54612636,1358484,81.630833
17,12580,"Baltimore-Columbia-Towson, MD",1992,2440078,57198936,1339950,82.774167
18,12580,"Baltimore-Columbia-Towson, MD",1993,2458038,59178785,1347488,82.753333
19,12580,"Baltimore-Columbia-Towson, MD",1994,2475364,61769826,1371332,83.755000
20,12580,"Baltimore-Columbia-Towson, MD",1995,2490370,64703504,1394314,83.931667
21,12580,"Baltimore-Columbia-Towson, MD",1996,2501453,67881395,1409343,84.640833
22,12580,"Baltimore-Columbia-Towson, MD",1997,2513492,71926659,1436116,85.388333
23,12580,"Baltimore-Columbia-Towson, MD",1998,2525266,77241641,1466512,87.319167
24,12580,"Baltimore-Columbia-Towson, MD",1999,2540307,82273178,1509853,91.810833
25,12580,"Baltimore-Columbia-Towson, MD",2000,2557958,88618199,1543762,97.520000
26,12580,"Baltimore-Columbia-Towson, MD",2001,2575471,92560218,1547690,105.058333
27,12580,"Baltimore-Columbia-Towson, MD",2002,2596501,96206347,1558796,116.961667
28,12580,"Baltimore-Columbia-Towson, MD",2003,2614232,100100963,1566963,134.725833
29,12580,"Baltimore-Columbia-Towson, MD",2004,2630946,106048601,1593882,158.941667
...,...,...,...,...,...,...,...
870,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1990,4185342,112768865,2934616,82.217500
871,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1991,4247235,117703642,2868521,80.735000
872,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1992,4312067,124720236,2855896,80.882500
873,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1993,4374165,131072174,2902152,79.811667
874,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1994,4434176,137637871,2938404,79.730000
875,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1995,4488385,143850261,2989498,79.155000
876,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1996,4549151,151016723,3035499,79.269167
877,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1997,4614434,160522338,3103078,79.620833
878,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1998,4684826,173953749,3176675,81.703333
879,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",1999,4776083,188134142,3262572,87.185833
880,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2000,4875923,207537811,3409145,95.464167
881,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2001,4982993,218153023,3471970,108.140833
882,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2002,5068667,224073510,3508592,124.315833
883,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2003,5137498,235840071,3562232,143.335833
884,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2004,5212772,254762790,3659629,171.719167
885,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2005,5286683,272956715,3745027,206.911667
886,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2006,5332180,289483718,3810723,216.110833
887,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2007,5386334,303577818,3884536,206.617500
888,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2008,5458415,316569272,3901443,180.875000
889,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2009,5561253,314209360,3861064,166.801667
890,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2010,5678491,331670527,3878945,168.771667
891,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2011,5782319,355350372,3946247,167.835000
892,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2012,5878942,369822854,3996916,173.290833
893,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2013,5963312,365630308,4052929,187.081667
894,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2014,6031945,381692068,4106510,194.855000
895,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2015,6093950,401961093,4198656,199.260833
896,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2016,6149301,417860186,4287414,204.721667
897,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2017,6211341,432801229,4350846,212.416667
898,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2018,6247841,451967783,4434939,220.210000
899,47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV",2019,6280487,467176430,4518171,227.227500

In [28]:
top20_full.to_csv('clean_data/top20_1975_2019.csv', index=False, header=True)

In [29]:
# bring in full monthly HPI dataset from 1975 to 2020
csv5 = Path('clean_data/HPI_monthly_full.csv')
df5 = pd.read_csv(csv5)
df5.head()

                           MSA        Year    HPI
0                  Abilene, TX  1975-01-31  45.34
1                    Akron, OH  1975-01-31  29.38
2                   Albany, GA  1975-01-31  41.53
3                   Albany, OR  1975-01-31  19.67
4  Albany-Schenectady-Troy, NY  1975-01-31  36.58

In [30]:
# merge top 20 MSAs with HPI monthly data to get HPI data for only top 20 MSAs
top20_monthly = df5.merge(MSAs, on="MSA", how='inner')

In [32]:
top20_monthly.head()

                             MSA        Year    HPI
0  Baltimore-Columbia-Towson, MD  1975-01-31  26.81
1  Baltimore-Columbia-Towson, MD  1975-02-28  26.79
2  Baltimore-Columbia-Towson, MD  1975-03-31  26.77
3  Baltimore-Columbia-Towson, MD  1975-04-30  26.78
4  Baltimore-Columbia-Towson, MD  1975-05-31  26.85

In [33]:
top20_monthly.to_csv('clean_data/top20_hpi_monthly_full.csv', index=False, header=True)