In [2]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
from panel.interact import interact

# Import Data

In [4]:
# import total cleaned data
data_path = Path("clean_data/all_msa_clean_data.csv")
data = pd.read_csv(data_path)
data.drop(columns=["Unnamed: 0","GeoFips"],inplace=True)
data["Date"] = pd.to_datetime(data["Year"],format="%Y")
data.drop(columns=["Year"],inplace=True)
data.head()

,MSA,Population,Personal Income,Number Jobs,HPI,Date
0,"Baltimore-Columbia-Towson, MD",2557958,88618199,1543762,97.520000,2000-01-01
1,"Baltimore-Columbia-Towson, MD",2575471,92560218,1547690,105.058333,2001-01-01
2,"Baltimore-Columbia-Towson, MD",2596501,96206347,1558796,116.961667,2002-01-01
3,"Baltimore-Columbia-Towson, MD",2614232,100100963,1566963,134.725833,2003-01-01
4,"Baltimore-Columbia-Towson, MD",2630946,106048601,1593882,158.941667,2004-01-01

# Create Visualizations
Creating functions to input into the final dashboard

In [ ]:
# Define Panel Visualization Functions - Overview

In [ ]:
# Define Panel Visualization Functions - Historical

In [5]:
# Define Panel Visualization Functions - Correlations

def total_correlation():
    """Total Correlation between Variables"""
    
    total = data.set_index("Date").sum(level="Date")
    plot = sns.heatmap(total.corr(), vmin=-1, vmax=1, annot=True)
    
    return plot

def hpi_vs_population():
    """Correlation between HPI and Population - grouped by MSA"""
    
    population = data[["Date","MSA","Population","HPI"]]
    plot = population.hvplot.scatter(x="HPI",y="Population",groupby="MSA", title="Correlation between HPI and Population", width=1000)
    
    return plot

def hpi_vs_income():
    """Correlation between HPI and Personal Income - grouped by MSA"""
    
    income = data[["Date","MSA","Personal Income","HPI"]]
    plot = income.hvplot.scatter(x="HPI",y="Personal Income",groupby="MSA", title="Correlation between HPI and Personal Income", width=1000)
    
    return plot

def hpi_vs_employment():
    """Correlation between HPI and Employment - grouped by MSA"""
    
    employment = data[["Date","MSA","Number Jobs","HPI"]]
    plot = employment.hvplot.scatter(x="HPI",y="Number Jobs",groupby="MSA", title="Correlation between HPI and Employment", width=1000)
    
    return plot

In [ ]:
# Define Panel Visualization Functions - Forecasts

In [ ]:
# Define Panel Visualization Functions - Conclusion

# Panel Dashboard
Inputting the functions into the final dashboard